<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<div class="content" role="main">

  <!-- Highlight Card -->
  <div class="card highlight-card card-small">

    <svg id="rocket" xmlns="http://www.w3.org/2000/svg" width="101.678" height="101.678" viewBox="0 0 101.678 101.678">
      <title>Rocket Ship</title>
      <g id="Group_83" data-name="Group 83" transform="translate(-141 -696)">
        <circle id="Ellipse_8" data-name="Ellipse 8" cx="50.839" cy="50.839" r="50.839" transform="translate(141 696)" [attr.fill]="logoColor"/>
        <g id="Group_47" data-name="Group 47" transform="translate(165.185 720.185)">
          <path id="Path_33" data-name="Path 33" d="M3.4,42.615a3.084,3.084,0,0,0,3.553,3.553,21.419,21.419,0,0,0,12.215-6.107L9.511,30.4A21.419,21.419,0,0,0,3.4,42.615Z" transform="translate(0.371 3.363)" fill="#fff"/>
          <path id="Path_34" data-name="Path 34" d="M53.3,3.221A3.09,3.09,0,0,0,50.081,0,48.227,48.227,0,0,0,18.322,13.437c-6-1.666-14.991-1.221-18.322,7.218A33.892,33.892,0,0,1,9.439,25.1l-.333.666a3.013,3.013,0,0,0,.555,3.553L23.985,43.641a2.9,2.9,0,0,0,3.553.555l.666-.333A33.892,33.892,0,0,1,32.647,53.3c8.55-3.664,8.884-12.326,7.218-18.322A48.227,48.227,0,0,0,53.3,3.221ZM34.424,9.772a6.439,6.439,0,1,1,9.106,9.106,6.368,6.368,0,0,1-9.106,0A6.467,6.467,0,0,1,34.424,9.772Z" transform="translate(0 0.005)" fill="#fff"/>
        </g>
      </g>
    </svg>

    <span>{{ title }} app is running!</span>

    <svg id="rocket-smoke" xmlns="http://www.w3.org/2000/svg" width="516.119" height="1083.632" viewBox="0 0 516.119 1083.632">
      <title>Rocket Ship Smoke</title>
      <path id="Path_40" data-name="Path 40" d="M644.6,141S143.02,215.537,147.049,870.207s342.774,201.755,342.774,201.755S404.659,847.213,388.815,762.2c-27.116-145.51-11.551-384.124,271.9-609.1C671.15,139.365,644.6,141,644.6,141Z" transform="translate(-147.025 -140.939)" fill="#f5f5f5"/>
    </svg>

  </div>

  <h2 #interpolation>Interpolation (utiliser des expressions angular)</h2>
  <p>Le titre est: {{ title }}</p>
  <p>On peut utiliser dans les {{ '{{ }}' }} des instructions javascripts (pas toute l'API js)</p>
  <p>Calcul de 1 + 1 : {{ 1 + 1 }}</p>
  <p>Concatenation: {{ title + 'concat' }}</p>

  <h2>Pipes (|)</h2>
  <p><strong>Built in pipes</strong></p>
  <p>{{ ' value | pipe function ' }}</p>
  <!-- {{ title | uppercase }} => Uppercase.transform(title) -->
  <p>Pipe uppercase: {{ title | uppercase }}</p>
  <p>Pour tous les pipes qui s'adaptent à langue, on peut regler le LOCALE_ID => https://angular.io/api/core/LOCALE_ID</p>
  <p>Pipe date: {{ today | date: 'long' }}</p>
  <p>Pipe currency: {{ 1260.5 | currency }}</p>
  <p><strong>Custom pipes</strong></p>
  <p>Pipe custom exponentialStrength: {{ 2 | exponentialStrength: 2 }}</p>

  <h2>Event Binding</h2>
  <p>Binding events</p>
  <!-- (click)="expression angular" -->
  <button (click)="buttonClicked()">Click me!</button>

  <h2>Property Binding</h2>
  <p>Simple variable usage to insert value in attributes html</p>
  <img src="{{ imgUrl }}" alt="{{ imgAlt }}"> 
  <p>Use property binding</p>
  <img [src]="imgUrl" [alt]="imgAlt">
  <button (click)="toggleButtonStatus()">Toggle button status</button>
  <button [disabled]="isDisabled">Disabled button with property binding</button>
  <button [attr.disabled]="isDisabled">Disabled button with property binding (attr.disabled)</button>
  <button disabled="{{ isDisabled }}">Disabled button with simple variable</button>

  <h2>Strucurals Directives</h2>
  <p *ngIf="title.length > 4">Titre > 4 charactères</p>
  <p *ngIf="isDisabled else elseTemplate">Bouton désactivé</p>
  <ng-template [ngIf]="isDisabled">
    <p>Bouton désactivé</p>
  </ng-template>
  <ng-template #elseTemplate>
    <p>Bouton actif</p>
  </ng-template>
  <ul>
    <li *ngFor="let w of words">
      {{w}}
    </li>
  </ul>
  <ul>
    <ng-container *ngFor="let u of users" >
      <li>
        {{u.id}}
      </li>
      <li>
        {{u.name}}
      </li>
    </ng-container>    
  </ul>

  <h2>Attributes Directives</h2>
  <p [hidden]="!isDisabled">Bouton désactivé</p>
  <p [ngClass]="{ 'hide': isDisabled }">Bouton actif</p>

</div>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
